@import url('https://fonts.googleapis.com/css?family=Open+Sans:700%7CRaleway:400,500%7CRoboto:400,900&display=swap');

$brand-color: #ffcc00;
$text-color: #333333;
$gray: #898f8f;

$title-font: 'Roboto', sans-serif;
$text-font: 'Raleway', sans-serif;
$btn-font: 'Open Sans', sans-serif;