@import 'variables';
@import 'normalize';
@import 'mixins';
@import 'slider';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    @include text($text-color, $text-font, 1.4rem, 500);
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 96%;
}
